In [ ]:

Danmarksgatan_6_a = {"m_2": 58, "slutdatum": "2021-02-16", "tillträdsdatum": "2021-04-01", "poäng": 3500, 
                     "rum": 4, "vånging": "3 av 3", "gå_till_tåg_min": 16,
                     "sol_läge": "vadagsrum_syd", "hyra": 5825, "hiss": 0, "intresseanmälan":0
                     , 
                     "tillfälligt": 0}
Överstegatan_7 = {"m_2": 0, "slutdatum": "2021-02-14", "tillträdsdatum": "2021-05-01", "poäng":3609,
                  "rum": 4, "vånging": "3_4", "gå_till_tåg_min": 0,
                  "sol_läge": "0", "hyra": 8667, "hiss": 1, "intresseanmälan":0, 
                  "tillfälligt": 0}
                     
Götgatan_19 = {"m_2": 93, "slutdatum": "2021-02-17", "tillträdsdatum": "2021-04-16", "poäng":2704,
                  "rum": 4, "vånging": "4 av 5", "gå_till_tåg_min": 16,
                  "sol_läge": "sydväst balkong", "hyra": 9256, "hiss": 1, "intresseanmälan":0, 
                  "tillfälligt": 0}   

Gripgatan_3 = {"m_2": 42, "slutdatum": "2021-02-15", "tillträdsdatum": "2021-05-01", "poäng":3137,
                  "rum": 2, "vånging": "5 av 5", "gå_till_tåg_min": 19,
                  "sol_läge": "sydväst balkong", "hyra": 4341, "hiss": 1, "intresseanmälan":0, 
                  "tillfälligt": 1}  

Lärdomsgatan_8 = {"m_2": 81, "slutdatum": "2021-02-16", "tillträdsdatum": "2021-05-01", "poäng":956,
                  "rum": 4, "vånging": "4 av 6", "gå_till_tåg_min": 100,
                  "sol_läge": "syd balkong", "hyra": 11369, "hiss": 1, "intresseanmälan":0, 
                  "tillfälligt": 0}  

Hjälmsätersgatan_12_a = {"m_2": 59, "slutdatum": "2021-02-15", "tillträdsdatum": "2021-05-01", "poäng":2851,
                  "rum": 2, "vånging": "2 av 5", "gå_till_tåg_min": 22,
                  "sol_läge": "öst balkong, sydväst kök", "hyra": 5790, "hiss": 1, "intresseanmälan":0, 
                  "tillfälligt": 0}  

Åbylundsgatan_2 = {"m_2": 56, "slutdatum": "2021-02-14", "tillträdsdatum": "2021-03-16", "poäng":2896
                   ,
                  "rum": 2, "vånging": "3 av 7", "gå_till_tåg_min": 24,
                  "sol_läge": "väst balkong", "hyra": 5527, "hiss": 1, "intresseanmälan":1, 
                  "tillfälligt": 0}  

Drottninggatan_43_g = {"m_2": 74, "slutdatum": "2021-02-16", "tillträdsdatum": "2021-04-01", "poäng":755,
                  "rum": 2, "vånging": "6_6", "gå_till_tåg_min": 16,
                  "sol_läge": "syd balkong, väst rum", "hyra": 11287, "hiss": 1, "intresseanmälan":0, 
                  "tillfälligt": 0}  

Djurgårdsdatan_93 = {"m_2": 74, "slutdatum": "2021-02-14", "tillträdsdatum": "2021-04-16", "poäng":2979,
                  "rum": 3, "vånging": "3_3", "gå_till_tåg_min": 25,
                  "sol_läge": "sydväst balkong, väst rum", "hyra": 7851, "hiss": 1, "intresseanmälan":1, 
                  "tillfälligt": 0}  

Norra_cloettavägen_28B = {"m_2": 61, "slutdatum": "2021-02-14", "tillträdsdatum": "2021-03-01", "poäng":1618,
                  "rum": 2, "vånging": "2_2", "gå_till_tåg_min": 1000,
                  "sol_läge": "väst balkong, öst rum", "hyra": 7851, "hiss": 0, "intresseanmälan":1, 
                  "tillfälligt": 0}

In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
df = pd.DataFrame([Danmarksgatan_6_a, Överstegatan_7, Götgatan_19, Gripgatan_3, Lärdomsgatan_8, Hjälmsätersgatan_12_a, Åbylundsgatan_2,
                   Drottninggatan_43_g, Djurgårdsdatan_93, Norra_cloettavägen_28B])
df.index = ["Danmarksgatan_6_a", "Överstegatan_7", "Götgatan_19", "Gripgatan_3", "Lärdomsgatan_8", "Hjälmsätersgatan_12_a", "Åbylundsgatan_2",
            "Drottninggatan_43_g", "Djurgårdsdatan_93", "Norra_cloettavägen_28B"]
df

                        m_2   slutdatum  ... intresseanmälan  tillfälligt
Danmarksgatan_6_a        58  2021-02-16  ...               0            0
Överstegatan_7            0  2021-02-14  ...               0            0
Götgatan_19              93  2021-02-17  ...               0            0
Gripgatan_3              42  2021-02-15  ...               0            1
Lärdomsgatan_8           81  2021-02-16  ...               0            0
Hjälmsätersgatan_12_a    59  2021-02-15  ...               0            0
Åbylundsgatan_2          56  2021-02-14  ...               1            0
Drottninggatan_43_g      74  2021-02-16  ...               0            0
Djurgårdsdatan_93        74  2021-02-14  ...               1            0
Norra_cloettavägen_28B   61  2021-02-14  ...               1            0

[10 rows x 12 columns]

In [ ]:
def sort_columns(col, *argv):
  return df.sort_values(by = [col])

In [ ]:
sort_columns("slutdatum", "tillträdsdatum", "intresseanmälan")

                        m_2   slutdatum  ... intresseanmälan  tillfälligt
Överstegatan_7            0  2021-02-14  ...               0            0
Åbylundsgatan_2          56  2021-02-14  ...               1            0
Djurgårdsdatan_93        74  2021-02-14  ...               1            0
Norra_cloettavägen_28B   61  2021-02-14  ...               1            0
Gripgatan_3              42  2021-02-15  ...               0            1
Hjälmsätersgatan_12_a    59  2021-02-15  ...               0            0
Danmarksgatan_6_a        58  2021-02-16  ...               0            0
Lärdomsgatan_8           81  2021-02-16  ...               0            0
Drottninggatan_43_g      74  2021-02-16  ...               0            0
Götgatan_19              93  2021-02-17  ...               0            0

[10 rows x 12 columns]

In [ ]:
df.sort_values(by = ["slutdatum", "tillträdsdatum"])

   m_2   slutdatum tillträdsdatum  ...  hiss  intresseanmälan tillfälligt
1    0  2021-02-14                 ...     0                0           0
6   56  2021-02-14     2021-03-16  ...     1                1           0
3   42  2021-02-15     2021-05-01  ...     1                0           1
5   59  2021-02-15     2021-05-01  ...     1                0           0
0   58  2021-02-16     2021-04-01  ...     0                0           0
4   81  2021-02-16     2021-05-01  ...     1                0           0
2   93  2021-02-17     2021-04-16  ...     1                0           0

[7 rows x 12 columns]

In [ ]:
today = datetime.today().strftime('%Y-%m-%d')
#today = datetime.strptime(today, "%Y-%m-%d")
slutdatum = datetime.strptime("2021-02-14", "%Y-%m-%d")
today = datetime.strptime(today, "%Y-%m-%d")
delta = slutdatum - today
print(delta.days)
delta.days > 1

0

False

In [ ]:
# df[df.index == "Åbylundsgatan_2"].poäng >= 2908
# range(df.shape[0])
# df.iloc[6]
df.shape

(9, 12)

In [ ]:
for i in range(df.shape[0]):
  slutdatum = datetime.strptime(df.slutdatum[i], "%Y-%m-%d")
  today = datetime.today().strftime('%Y-%m-%d')
  today = datetime.strptime(today, "%Y-%m-%d")
  delta = slutdatum - today

  print(i)

  if delta.days < 1 & df.poäng[i] >= 2908 & df.intresseanmälan[i] == 0:
    print(df.index[i] + " " + "Check it now")
  elif delta.days > 1 & delta.days <=2 & df.poäng[i] < 2908 & df.intresseanmälan[i] == 1:
    print(df.index[i] + " " + "Relax")
  elif delta.days <= 1 & df.poäng[i] < 2908 & df.intresseanmälan[i] == 1:
    print(df.index[i] + " " + "Check it now but relax")
  elif delta.days <= 1 & df.poäng[i] > 2908 & df.intresseanmälan[i] == 1:
    print(df.index[i] + " " +  "Remove application")
  elif delta.days > 3:
    print(df.index[i] + " " + "Still some days to apply") 
  else:
    print(df.index[i] + " " + "Ok")

0
Danmarksgatan_6_a Ok
1
Överstegatan_7 Check it now
2
Götgatan_19 Ok
3
Gripgatan_3 Ok
4
Lärdomsgatan_8 Ok
5
Hjälmsätersgatan_12_a Ok
6
Åbylundsgatan_2 Ok
7
Drottninggatan_43_g Ok
8
Djurgårdsdatan_93 Check it now
9
Norra_cloettavägen_28B Ok

In [ ]:
[decision_making(x, y) for x in df.slutdatum for y in df.poäng]

Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax
Relax

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]